h1{font-family:arial;
    font-size: 60px;
    color:black;
    background-color:white;
    text-align: center;
    }
font{
color: white;
text-align:center;
}
body {
background:gray;
}
{
	
	
	text-align:center;
	
	
}


